body {
    margin: 0;
    font-family: "bebas neue";
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    line-height: 1.4;
    text-align: center;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 1em 0;
  }
  
  p {
    margin: 0;
    padding: 1em 0;
  }
  
  
  #banner {
    min-height: 450px;
    color: #fff;
    text-align: center;
  }
  
  #banner .bg-image {
    position: absolute;
    background: rgb(255, 255, 255)
      url("/img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
  }
  
  #banner h1 {
    font-family: "nulshock";
    font-size: 0px;
    padding-top: 220px;
    padding-bottom: 0;
    color: rgb(252, 216, 119);
  }
  
  #banner .content-wrap,
  #section-1 .content-wrap {
    padding: 0 1.5em;
  }
  
  #section-1 {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding-bottom: 2em;
  }

  #section-1 h2{
    font-size: 60px;
    font-family: "nulshock";
  }
  
  #section-2 {
    padding: 2em 1em 1em;
  }
  
  #section-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #section-2 li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }


  .card {
    background: #fff;
    border-radius: 2px;
  }
  
  .card-1 {
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card-1:hover {
    box-shadow: 0 10px 20px rgba(255, 0, 234, 0.671), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-content {
    padding: 1.4em;
    border: black;
  }
  
  
  #section-3 {
    background: #fff;
    color: #333;
    padding: 2em;
    margin-top: 100px;
    height: 400px;
  }

  
  #main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
  }
  
  #main-footer a {
    color: #ffb30e;
    text-decoration: none;
  }
  
  
  @media (min-width: 680px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-1 .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-1 .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-2 ul {
      grid-column: 2/4;
    }
  
    .box,
    #main-footer div {
      grid-column: span 4;
    }
  
    #section-2 ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-2 li {
      width: 30%;
    }
  }
  